<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY Chat App</title>
    <style>
        .div1{
            width: 500px;
            clear: both;
            
            
        }
        .div1 input{
            width: 100%;
            clear: both;
        }
        form{
            color :green;
            
        }
        input, textarea, select {
            color :black;
            background-color : lightblue;
        }
    button{
        color : rgb(255, 25, 0);
        background-color : lightblue;
        margin-top:5px;
    }
    </style>
</head>
<body>
    <h1 style= color:indigo;>Sign Up</h1>
    <h3>{{message}}</h3>

<div class = "div1">
    <form method="post" action = '/signup'>
    
        <label>Username</label> 
        <input type="text" name = "username">
        <br>
    
   
        <label>email</label> 
        <input type="email" name = "email">
        <br>
   
        <label>Password</label>
        <input type = "password" name="password">
        <br>

        <button type="submit" >Submit</button>
    </form>
</div>

</body>
</html>